{% extends 'layout/basic.html' %}
{% load static %}
{% block content %}
    <a type="submit" class="btn btn-primary" href="{% url 'test'%}" style="width:100%"><h2>TEST MASSAGE</h2></a>

{#<canvas id="doughnut-chart" width="200" height="100"></canvas>#}

    <div class="container-fluid card-body ">

        <div class="small-box bg-warning text-center ">
              <div class="inner">
                <h3>{{ users }}</h3>

                <p>Users</p>
              </div>
              <div class="icon">
                <i class="fas fa-user-plus"></i>
              </div>
            </div>

        <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">OS</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="Browser" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>

    <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Info Browser</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
    </div>
<l1 class="text-center"> TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE
    TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE TEST PAGE</l1>
{% endblock %}

{% block scripts %}
        <script>
        $('#nav_statistic').attr('class', 'nav-link active')
    </script>
    {% for st in stat%}
    <!-- ChartJS -->
<script src={% static "adminLte/plugins/chart.js/Chart.min.js"%}></script>

    <script>
        var donutData= {
      labels: [
          'Windows',
          'Linux',
          'OS',
      ],
      datasets: [
        {
          data: [{{ st.windows }},{{ st.linux }},{{ st.os }}],
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    }
        //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $('#Browser').get(0).getContext('2d')
    var pieData        = donutData;
    var pieOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions
    })
    </script>

    <script>
        var donutData= {
      labels: [
          'Chrome',
          'IE',
          'FireFox',
          'Safari',
          'Opera',
      ],
      datasets: [
        {
          data: [{{ st.chrome }},{{ st.ie }},{{ st.firefox }},{{ st.safari }},{{ st.opera }}],
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    }
        //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieData        = donutData;
    var pieOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions
    })
    </script>
    {% endfor %}
{% endblock %}